* {
	box-sizing: border-box;
}

body {
	/* background-color: darkgrey; */
	background: #424242;
	background: -webkit-linear-gradient(135deg, rgba(66, 66, 66, 1) 0%, rgba(227, 227, 227, 1) 100%);
	background: -moz-linear-gradient(135deg, rgba(66, 66, 66, 1) 0%, rgba(227, 227, 227, 1) 100%);
	background: linear-gradient(135deg, rgba(66, 66, 66, 1) 0%, rgba(227, 227, 227, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#424242", endColorstr="#E3E3E3", GradientType=0);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: black;
	font-weight: 900;
	margin: auto;
	width: 100%;
	height: 100dvh;
	padding: 1rem;
}

a {
	color: white;
	transition: all 0.15s;
}

h1 {
	max-width: 500px;
}

a:hover {
	color: white;
	text-decoration: none;
}
