* {
	box-sizing: border-box;
}

body {
	background-color: darkgrey;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: black;
	font-weight: 900;
	margin: auto;
	width: 100%;
	height: 100dvh;
	padding: 1rem;
}

a {
	color: white;
	transition: all 0.15s;
}

h1 {
	max-width: 500px;
}

a:hover {
	color: white;
	text-decoration: none;
}
